In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import datasets.
tvdb_series_df = pd.read_csv("data/output/tvdb_series.csv", index_col="imdb_id")
my_ratings_df = pd.read_csv("data/input/my_ratings.csv", index_col="imdb_id")
imdb_series_df = pd.read_csv("data/output/imdb_series.csv", index_col="id")

# Merge datasets together.
cols_to_use = tvdb_series_df.columns.difference(imdb_series_df.columns)
df1 = pd.merge(imdb_series_df, tvdb_series_df[cols_to_use], how="outer", left_index=True, right_index=True)

cols_to_use = my_ratings_df.columns.difference(df1.columns)
tv_df = pd.merge(df1, my_ratings_df[cols_to_use], how="outer", left_index=True, right_index=True)

tv_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1955 entries, tt0092337 to tt9900092
Data columns (total 86 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               1953 non-null   object
 1   type               1953 non-null   object
 2   start_year         1953 non-null   float64
 3   end_year           1086 non-null   float64
 4   ep_length          1924 non-null   float64
 5   n_seasons          1952 non-null   float64
 6   n_episodes         1953 non-null   float64
 7   popularity_rank    1773 non-null   float64
 8   n_ratings          1953 non-null   float64
 9   rating_avg         1953 non-null   float64
 10  rating_top1000     1953 non-null   float64
 11  rating_us          1953 non-null   float64
 12  rating_row         1953 non-null   float64
 13  rating_M           1953 non-null   float64
 14  rating_F           1953 non-null   float64
 15  rating_0to18       1772 non-null   float64
 16  rating_M_0to18     1595 non-null   float64
 17  rating_F_0to18     1471 non-null   float64
 18  rating_18to29      1953 non-null   float64
 19  rating_M_18to29    1953 non-null   float64
 20  rating_F_18to29    1953 non-null   float64
 21  rating_29to45      1953 non-null   float64
 22  rating_M_29to45    1953 non-null   float64
 23  rating_F_29to45    1953 non-null   float64
 24  rating_45to100     1953 non-null   float64
 25  rating_M_45to100   1953 non-null   float64
 26  rating_F_45to100   1952 non-null   float64
 27  genre_war          1941 non-null   float64
 28  genre_documentary  1941 non-null   float64
 29  genre_talk-show    1941 non-null   float64
 30  genre_animation    1941 non-null   float64
 31  genre_sci-fi       1941 non-null   float64
 32  genre_crime        1941 non-null   float64
 33  genre_musical      1941 non-null   float64
 34  genre_short        1941 non-null   float64
 35  genre_fantasy      1941 non-null   float64
 36  genre_adventure    1941 non-null   float64
 37  genre_thriller     1941 non-null   float64
 38  genre_family       1941 non-null   float64
 39  genre_history      1941 non-null   float64
 40  genre_western      1941 non-null   float64
 41  genre_drama        1941 non-null   float64
 42  genre_mystery      1941 non-null   float64
 43  genre_news         1941 non-null   float64
 44  genre_romance      1941 non-null   float64
 45  genre_biography    1941 non-null   float64
 46  genre_action       1941 non-null   float64
 47  genre_game-show    1941 non-null   float64
 48  genre_horror       1941 non-null   float64
 49  genre_sport        1941 non-null   float64
 50  genre_reality-tv   1941 non-null   float64
 51  genre_comedy       1941 non-null   float64
 52  genre_music        1941 non-null   float64
 53  banner             1904 non-null   object
 54  fanart             1904 non-null   object
 55  first_aired        1901 non-null   object
 56  genre_             1904 non-null   float64
 57  genre_anime        1904 non-null   float64
 58  genre_arts         1904 non-null   float64
 59  genre_children     1904 non-null   float64
 60  genre_fiction      1904 non-null   float64
 61  genre_food         1904 non-null   float64
 62  genre_game         1904 non-null   float64
 63  genre_interest     1904 non-null   float64
 64  genre_martial      1904 non-null   float64
 65  genre_mini-series  1904 non-null   float64
 66  genre_reality      1904 non-null   float64
 67  genre_science      1904 non-null   float64
 68  genre_show         1904 non-null   float64
 69  genre_soap         1904 non-null   float64
 70  genre_special      1904 non-null   float64
 71  genre_suspense     1904 non-null   float64
 72  genre_talk         1904 non-null   float64
 73  genre_travel       1904 non-null   float64
 74  network            1897 non-null   object
 75  num_seasons        1903 non-null   float64
 76  overview           1891 non-null   object
 77  poster             1904 non-null   object
 78  rating             1731 non-null   object
 79  runtime            1901 non-null   float64
 80  series_name        1900 non-null   object
 81  status             1904 non-null   object
 82  tvdb_avg_rating    1904 non-null   float64
 83  tvdb_id            1904 non-null   float64
 84  tvdb_ratings       1904 non-null   float64
 85  my_rating          135 non-null    float64
dtypes: float64(75), object(11)
memory usage: 1.2+ MB

In [3]:
corr_matrix = tv_df.corr()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find features with correlation greater than 0.95
suspicious_features = upper[upper > 0.95]

# Print suspicious features.
for i, row in suspicious_features.iterrows():
    for j in range(len(row)):
        if not np.isnan(row.iloc[j]):
            print(f"{i} and {row.index[j]} have a correlation of {row.values[j]:.2f}")

rating_avg and rating_row have a correlation of 0.97
rating_avg and rating_M have a correlation of 0.98
rating_avg and rating_18to29 have a correlation of 0.98
rating_avg and rating_M_18to29 have a correlation of 0.96
rating_avg and rating_29to45 have a correlation of 0.98
rating_avg and rating_M_29to45 have a correlation of 0.96
rating_row and rating_M have a correlation of 0.96
rating_row and rating_18to29 have a correlation of 0.95
rating_row and rating_29to45 have a correlation of 0.97
rating_row and rating_M_29to45 have a correlation of 0.95
rating_M and rating_M_18to29 have a correlation of 0.98
rating_M and rating_29to45 have a correlation of 0.97
rating_M and rating_M_29to45 have a correlation of 0.99
rating_F and rating_F_18to29 have a correlation of 0.96
rating_F and rating_F_29to45 have a correlation of 0.97
rating_18to29 and rating_M_18to29 have a correlation of 0.98
rating_18to29 and rating_29to45 have a correlation of 0.95
rating_M_18to29 and rating_M_29to45 have a correlation of 0.96
rating_29to45 and rating_M_29to45 have a correlation of 0.98
rating_45to100 and rating_M_45to100 have a correlation of 0.98
genre_arts and genre_martial have a correlation of 1.00
genre_fiction and genre_science have a correlation of 1.00
genre_interest and genre_special have a correlation of 1.00

In [4]:
# Rename some columns.
tv_df.rename(columns={
    "genre_arts": "genre_martial_arts",
    "genre_fiction": "genre_science_fiction",
    "genre_interest": "genre_special_interest"
})

# Remove useless columns.
cols_to_remove = ["name", "genre_martial", "genre_science", "genre_special", "genre_", "series_name", "banner", "fanart", "overview", "poster", "first_aired"]
tv_df.drop(cols_to_remove, axis=1, inplace=True)

In [5]:
tv_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1955 entries, tt0092337 to tt9900092
Data columns (total 76 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               1953 non-null   object
 1   type               1953 non-null   object
 2   start_year         1953 non-null   float64
 3   end_year           1086 non-null   float64
 4   ep_length          1924 non-null   float64
 5   n_seasons          1952 non-null   float64
 6   n_episodes         1953 non-null   float64
 7   popularity_rank    1773 non-null   float64
 8   n_ratings          1953 non-null   float64
 9   rating_avg         1953 non-null   float64
 10  rating_top1000     1953 non-null   float64
 11  rating_us          1953 non-null   float64
 12  rating_row         1953 non-null   float64
 13  rating_M           1953 non-null   float64
 14  rating_F           1953 non-null   float64
 15  rating_0to18       1772 non-null   float64
 16  rating_M_0to18     1595 non-null   float64
 17  rating_F_0to18     1471 non-null   float64
 18  rating_18to29      1953 non-null   float64
 19  rating_M_18to29    1953 non-null   float64
 20  rating_F_18to29    1953 non-null   float64
 21  rating_29to45      1953 non-null   float64
 22  rating_M_29to45    1953 non-null   float64
 23  rating_F_29to45    1953 non-null   float64
 24  rating_45to100     1953 non-null   float64
 25  rating_M_45to100   1953 non-null   float64
 26  rating_F_45to100   1952 non-null   float64
 27  genre_war          1941 non-null   float64
 28  genre_documentary  1941 non-null   float64
 29  genre_talk-show    1941 non-null   float64
 30  genre_animation    1941 non-null   float64
 31  genre_sci-fi       1941 non-null   float64
 32  genre_crime        1941 non-null   float64
 33  genre_musical      1941 non-null   float64
 34  genre_short        1941 non-null   float64
 35  genre_fantasy      1941 non-null   float64
 36  genre_adventure    1941 non-null   float64
 37  genre_thriller     1941 non-null   float64
 38  genre_family       1941 non-null   float64
 39  genre_history      1941 non-null   float64
 40  genre_western      1941 non-null   float64
 41  genre_drama        1941 non-null   float64
 42  genre_mystery      1941 non-null   float64
 43  genre_news         1941 non-null   float64
 44  genre_romance      1941 non-null   float64
 45  genre_biography    1941 non-null   float64
 46  genre_action       1941 non-null   float64
 47  genre_game-show    1941 non-null   float64
 48  genre_horror       1941 non-null   float64
 49  genre_sport        1941 non-null   float64
 50  genre_reality-tv   1941 non-null   float64
 51  genre_comedy       1941 non-null   float64
 52  genre_music        1941 non-null   float64
 53  genre_anime        1904 non-null   float64
 54  genre_arts         1904 non-null   float64
 55  genre_children     1904 non-null   float64
 56  genre_fiction      1904 non-null   float64
 57  genre_food         1904 non-null   float64
 58  genre_game         1904 non-null   float64
 59  genre_interest     1904 non-null   float64
 60  genre_mini-series  1904 non-null   float64
 61  genre_reality      1904 non-null   float64
 62  genre_show         1904 non-null   float64
 63  genre_soap         1904 non-null   float64
 64  genre_suspense     1904 non-null   float64
 65  genre_talk         1904 non-null   float64
 66  genre_travel       1904 non-null   float64
 67  network            1897 non-null   object
 68  num_seasons        1903 non-null   float64
 69  rating             1731 non-null   object
 70  runtime            1901 non-null   float64
 71  status             1904 non-null   object
 72  tvdb_avg_rating    1904 non-null   float64
 73  tvdb_id            1904 non-null   float64
 74  tvdb_ratings       1904 non-null   float64
 75  my_rating          135 non-null    float64
dtypes: float64(71), object(5)
memory usage: 1.1+ MB

In [6]:
# Let's have a look at the remaining categorical features.
tv_df.describe(include="object")

                                name       type  network rating status
count                           1953       1953     1897   1731   1904
unique                          1924          2      196      6      2
top     Teenage Mutant Ninja Turtles  TV Series  Netflix  TV-14  Ended
freq                               2       1722      183    682   1482

In [ ]:
tv_df.drop("name", axis=1, inplace=True)

In [7]:
y = tv_df["my_rating"]
rated_tv_series = y[y.notna()]
train_dataset = tv_df.loc[rated_tv_series.index, :]

In [8]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Preprocessing for numerical data
numerical_transformer = SimpleImputer(strategy='constant')

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

NameError: name 'numerical_cols' is not defined