In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import datasets.
tvdb_series_df = pd.read_csv("data/output/tvdb_series.csv", index_col="imdb_id")
my_ratings_df = pd.read_csv("data/input/my_ratings.csv", index_col="imdb_id")
imdb_series_df = pd.read_csv("data/output/imdb_series.csv", index_col="id")

# Merge datasets together.
cols_to_use = tvdb_series_df.columns.difference(imdb_series_df.columns)
df1 = pd.merge(imdb_series_df, tvdb_series_df[cols_to_use], how="outer", left_index=True, right_index=True)

cols_to_use = my_ratings_df.columns.difference(df1.columns)
tv_df = pd.merge(df1, my_ratings_df[cols_to_use], how="outer", left_index=True, right_index=True)

tv_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1955 entries, tt0092337 to tt9900092
Data columns (total 86 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               1953 non-null   object
 1   type               1953 non-null   object
 2   start_year         1953 non-null   float64
 3   end_year           1086 non-null   float64
 4   ep_length          1924 non-null   float64
 5   n_seasons          1952 non-null   float64
 6   n_episodes         1953 non-null   float64
 7   popularity_rank    1773 non-null   float64
 8   n_ratings          1953 non-null   float64
 9   rating_avg         1953 non-null   float64
 10  rating_top1000     1953 non-null   float64
 11  rating_us          1953 non-null   float64
 12  rating_row         1953 non-null   float64
 13  rating_M           1953 non-null   float64
 14  rating_F           1953 non-null   float64
 15  rating_0to18       1772 non-null   float64
 16  rating_M_0to18     1595 non-null   float64
 17  rating_F_0to18     1471 non-null   float64
 18  rating_18to29      1953 non-null   float64
 19  rating_M_18to29    1953 non-null   float64
 20  rating_F_18to29    1953 non-null   float64
 21  rating_29to45      1953 non-null   float64
 22  rating_M_29to45    1953 non-null   float64
 23  rating_F_29to45    1953 non-null   float64
 24  rating_45to100     1953 non-null   float64
 25  rating_M_45to100   1953 non-null   float64
 26  rating_F_45to100   1952 non-null   float64
 27  genre_war          1941 non-null   float64
 28  genre_documentary  1941 non-null   float64
 29  genre_talk-show    1941 non-null   float64
 30  genre_animation    1941 non-null   float64
 31  genre_sci-fi       1941 non-null   float64
 32  genre_crime        1941 non-null   float64
 33  genre_musical      1941 non-null   float64
 34  genre_short        1941 non-null   float64
 35  genre_fantasy      1941 non-null   float64
 36  genre_adventure    1941 non-null   float64
 37  genre_thriller     1941 non-null   float64
 38  genre_family       1941 non-null   float64
 39  genre_history      1941 non-null   float64
 40  genre_western      1941 non-null   float64
 41  genre_drama        1941 non-null   float64
 42  genre_mystery      1941 non-null   float64
 43  genre_news         1941 non-null   float64
 44  genre_romance      1941 non-null   float64
 45  genre_biography    1941 non-null   float64
 46  genre_action       1941 non-null   float64
 47  genre_game-show    1941 non-null   float64
 48  genre_horror       1941 non-null   float64
 49  genre_sport        1941 non-null   float64
 50  genre_reality-tv   1941 non-null   float64
 51  genre_comedy       1941 non-null   float64
 52  genre_music        1941 non-null   float64
 53  banner             1904 non-null   object
 54  fanart             1904 non-null   object
 55  first_aired        1901 non-null   object
 56  genre_             1904 non-null   float64
 57  genre_anime        1904 non-null   float64
 58  genre_arts         1904 non-null   float64
 59  genre_children     1904 non-null   float64
 60  genre_fiction      1904 non-null   float64
 61  genre_food         1904 non-null   float64
 62  genre_game         1904 non-null   float64
 63  genre_interest     1904 non-null   float64
 64  genre_martial      1904 non-null   float64
 65  genre_mini-series  1904 non-null   float64
 66  genre_reality      1904 non-null   float64
 67  genre_science      1904 non-null   float64
 68  genre_show         1904 non-null   float64
 69  genre_soap         1904 non-null   float64
 70  genre_special      1904 non-null   float64
 71  genre_suspense     1904 non-null   float64
 72  genre_talk         1904 non-null   float64
 73  genre_travel       1904 non-null   float64
 74  network            1897 non-null   object
 75  num_seasons        1903 non-null   float64
 76  overview           1891 non-null   object
 77  poster             1904 non-null   object
 78  rating             1731 non-null   object
 79  runtime            1901 non-null   float64
 80  series_name        1900 non-null   object
 81  status             1904 non-null   object
 82  tvdb_avg_rating    1904 non-null   float64
 83  tvdb_id            1904 non-null   float64
 84  tvdb_ratings       1904 non-null   float64
 85  my_rating          140 non-null    float64
dtypes: float64(75), object(11)
memory usage: 1.2+ MB

In [3]:
corr_matrix = tv_df.corr()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find features with correlation greater than 0.95
suspicious_features = upper[upper > 0.95]

# Print suspicious features.
for i, row in suspicious_features.iterrows():
    for j in range(len(row)):
        if not np.isnan(row.iloc[j]):
            print(f"{i} and {row.index[j]} have a correlation of {row.values[j]:.2f}")

rating_avg and rating_row have a correlation of 0.97
rating_avg and rating_M have a correlation of 0.98
rating_avg and rating_18to29 have a correlation of 0.98
rating_avg and rating_M_18to29 have a correlation of 0.96
rating_avg and rating_29to45 have a correlation of 0.98
rating_avg and rating_M_29to45 have a correlation of 0.96
rating_row and rating_M have a correlation of 0.96
rating_row and rating_18to29 have a correlation of 0.95
rating_row and rating_29to45 have a correlation of 0.97
rating_row and rating_M_29to45 have a correlation of 0.95
rating_M and rating_M_18to29 have a correlation of 0.98
rating_M and rating_29to45 have a correlation of 0.97
rating_M and rating_M_29to45 have a correlation of 0.99
rating_F and rating_F_18to29 have a correlation of 0.96
rating_F and rating_F_29to45 have a correlation of 0.97
rating_18to29 and rating_M_18to29 have a correlation of 0.98
rating_18to29 and rating_29to45 have a correlation of 0.95
rating_M_18to29 and rating_M_29to45 have a correlation of 0.96
rating_29to45 and rating_M_29to45 have a correlation of 0.98
rating_45to100 and rating_M_45to100 have a correlation of 0.98
genre_arts and genre_martial have a correlation of 1.00
genre_fiction and genre_science have a correlation of 1.00
genre_interest and genre_special have a correlation of 1.00

In [4]:
# Rename some columns.
tv_df.rename(columns={
    "genre_arts": "genre_martial_arts",
    "genre_fiction": "genre_science_fiction",
    "genre_interest": "genre_special_interest"
})

# Remove useless columns.
cols_to_remove = ["name", "genre_martial", "genre_science", "genre_special", "genre_", "series_name", "banner", "fanart", "overview", "poster", "first_aired", "tvdb_id"]
tv_df.drop(cols_to_remove, axis=1, inplace=True)

# Drop Boris.
tv_df.drop("tt1020116", axis=0, inplace=True)

# If end_year is not set, set it to current year.
tv_df["end_year"] = tv_df.apply(
    lambda row: row["start_year"] if np.isnan(row["end_year"]) else row["end_year"],
    axis=1
)

# Drop network feature.
tv_df.drop("network", axis=1, inplace=True)

In [5]:
tv_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1954 entries, tt0092337 to tt9900092
Data columns (total 73 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   type               1953 non-null   object
 1   start_year         1953 non-null   float64
 2   end_year           1953 non-null   float64
 3   ep_length          1924 non-null   float64
 4   n_seasons          1952 non-null   float64
 5   n_episodes         1953 non-null   float64
 6   popularity_rank    1773 non-null   float64
 7   n_ratings          1953 non-null   float64
 8   rating_avg         1953 non-null   float64
 9   rating_top1000     1953 non-null   float64
 10  rating_us          1953 non-null   float64
 11  rating_row         1953 non-null   float64
 12  rating_M           1953 non-null   float64
 13  rating_F           1953 non-null   float64
 14  rating_0to18       1772 non-null   float64
 15  rating_M_0to18     1595 non-null   float64
 16  rating_F_0to18     1471 non-null   float64
 17  rating_18to29      1953 non-null   float64
 18  rating_M_18to29    1953 non-null   float64
 19  rating_F_18to29    1953 non-null   float64
 20  rating_29to45      1953 non-null   float64
 21  rating_M_29to45    1953 non-null   float64
 22  rating_F_29to45    1953 non-null   float64
 23  rating_45to100     1953 non-null   float64
 24  rating_M_45to100   1953 non-null   float64
 25  rating_F_45to100   1952 non-null   float64
 26  genre_war          1941 non-null   float64
 27  genre_documentary  1941 non-null   float64
 28  genre_talk-show    1941 non-null   float64
 29  genre_animation    1941 non-null   float64
 30  genre_sci-fi       1941 non-null   float64
 31  genre_crime        1941 non-null   float64
 32  genre_musical      1941 non-null   float64
 33  genre_short        1941 non-null   float64
 34  genre_fantasy      1941 non-null   float64
 35  genre_adventure    1941 non-null   float64
 36  genre_thriller     1941 non-null   float64
 37  genre_family       1941 non-null   float64
 38  genre_history      1941 non-null   float64
 39  genre_western      1941 non-null   float64
 40  genre_drama        1941 non-null   float64
 41  genre_mystery      1941 non-null   float64
 42  genre_news         1941 non-null   float64
 43  genre_romance      1941 non-null   float64
 44  genre_biography    1941 non-null   float64
 45  genre_action       1941 non-null   float64
 46  genre_game-show    1941 non-null   float64
 47  genre_horror       1941 non-null   float64
 48  genre_sport        1941 non-null   float64
 49  genre_reality-tv   1941 non-null   float64
 50  genre_comedy       1941 non-null   float64
 51  genre_music        1941 non-null   float64
 52  genre_anime        1904 non-null   float64
 53  genre_arts         1904 non-null   float64
 54  genre_children     1904 non-null   float64
 55  genre_fiction      1904 non-null   float64
 56  genre_food         1904 non-null   float64
 57  genre_game         1904 non-null   float64
 58  genre_interest     1904 non-null   float64
 59  genre_mini-series  1904 non-null   float64
 60  genre_reality      1904 non-null   float64
 61  genre_show         1904 non-null   float64
 62  genre_soap         1904 non-null   float64
 63  genre_suspense     1904 non-null   float64
 64  genre_talk         1904 non-null   float64
 65  genre_travel       1904 non-null   float64
 66  num_seasons        1903 non-null   float64
 67  rating             1731 non-null   object
 68  runtime            1901 non-null   float64
 69  status             1904 non-null   object
 70  tvdb_avg_rating    1904 non-null   float64
 71  tvdb_ratings       1904 non-null   float64
 72  my_rating          139 non-null    float64
dtypes: float64(70), object(3)
memory usage: 1.1+ MB

In [6]:
# Let's have a look at the remaining categorical features.
tv_df.describe(include="object")

             type rating status
count        1953   1731   1904
unique          2      6      2
top     TV Series  TV-14  Ended
freq         1722    682   1482

In [7]:
train_df = tv_df.dropna(axis=0, subset=["my_rating"])

In [8]:
test_df = tv_df[tv_df["my_rating"].isna()].drop("my_rating", axis=1)
test_df.info()
test_df = test_df[test_df["type"].notna()]

<class 'pandas.core.frame.DataFrame'>
Index: 1815 entries, tt0092337 to tt9900092
Data columns (total 72 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   type               1814 non-null   object
 1   start_year         1814 non-null   float64
 2   end_year           1814 non-null   float64
 3   ep_length          1785 non-null   float64
 4   n_seasons          1813 non-null   float64
 5   n_episodes         1814 non-null   float64
 6   popularity_rank    1634 non-null   float64
 7   n_ratings          1814 non-null   float64
 8   rating_avg         1814 non-null   float64
 9   rating_top1000     1814 non-null   float64
 10  rating_us          1814 non-null   float64
 11  rating_row         1814 non-null   float64
 12  rating_M           1814 non-null   float64
 13  rating_F           1814 non-null   float64
 14  rating_0to18       1633 non-null   float64
 15  rating_M_0to18     1456 non-null   float64
 16  rating_F_0to18     1332 non-null   float64
 17  rating_18to29      1814 non-null   float64
 18  rating_M_18to29    1814 non-null   float64
 19  rating_F_18to29    1814 non-null   float64
 20  rating_29to45      1814 non-null   float64
 21  rating_M_29to45    1814 non-null   float64
 22  rating_F_29to45    1814 non-null   float64
 23  rating_45to100     1814 non-null   float64
 24  rating_M_45to100   1814 non-null   float64
 25  rating_F_45to100   1813 non-null   float64
 26  genre_war          1802 non-null   float64
 27  genre_documentary  1802 non-null   float64
 28  genre_talk-show    1802 non-null   float64
 29  genre_animation    1802 non-null   float64
 30  genre_sci-fi       1802 non-null   float64
 31  genre_crime        1802 non-null   float64
 32  genre_musical      1802 non-null   float64
 33  genre_short        1802 non-null   float64
 34  genre_fantasy      1802 non-null   float64
 35  genre_adventure    1802 non-null   float64
 36  genre_thriller     1802 non-null   float64
 37  genre_family       1802 non-null   float64
 38  genre_history      1802 non-null   float64
 39  genre_western      1802 non-null   float64
 40  genre_drama        1802 non-null   float64
 41  genre_mystery      1802 non-null   float64
 42  genre_news         1802 non-null   float64
 43  genre_romance      1802 non-null   float64
 44  genre_biography    1802 non-null   float64
 45  genre_action       1802 non-null   float64
 46  genre_game-show    1802 non-null   float64
 47  genre_horror       1802 non-null   float64
 48  genre_sport        1802 non-null   float64
 49  genre_reality-tv   1802 non-null   float64
 50  genre_comedy       1802 non-null   float64
 51  genre_music        1802 non-null   float64
 52  genre_anime        1765 non-null   float64
 53  genre_arts         1765 non-null   float64
 54  genre_children     1765 non-null   float64
 55  genre_fiction      1765 non-null   float64
 56  genre_food         1765 non-null   float64
 57  genre_game         1765 non-null   float64
 58  genre_interest     1765 non-null   float64
 59  genre_mini-series  1765 non-null   float64
 60  genre_reality      1765 non-null   float64
 61  genre_show         1765 non-null   float64
 62  genre_soap         1765 non-null   float64
 63  genre_suspense     1765 non-null   float64
 64  genre_talk         1765 non-null   float64
 65  genre_travel       1765 non-null   float64
 66  num_seasons        1764 non-null   float64
 67  rating             1592 non-null   object
 68  runtime            1762 non-null   float64
 69  status             1765 non-null   object
 70  tvdb_avg_rating    1765 non-null   float64
 71  tvdb_ratings       1765 non-null   float64
dtypes: float64(69), object(3)
memory usage: 1006.8+ KB

In [9]:
from sklearn.model_selection import train_test_split

X = train_df.drop(["my_rating"], axis=1)
y = train_df["my_rating"]

# Break off validation set from training data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler

year_pipe = make_pipeline(
    SimpleImputer(strategy="constant", fill_value=tv_df["start_year"].max()), 
    StandardScaler())

genre_pipe = make_pipeline(
    SimpleImputer(strategy="constant", fill_value=0))

string_pipe = make_pipeline(
    SimpleImputer(strategy="most_frequent"), 
    OrdinalEncoder())

cat_pipe = make_pipeline(
    SimpleImputer(strategy="constant", fill_value="unknown"),
    OneHotEncoder(categories=[np.append(tv_df["rating"].unique(), "unknown")]))

rating_pipe = make_pipeline(
    SimpleImputer(strategy="median"), 
    StandardScaler())

popularity_pipe = make_pipeline(
    SimpleImputer(strategy="constant", fill_value=tv_df["popularity_rank"].max()),
    StandardScaler())

genre_cat = [name for name in tv_df.columns if name.startswith("genre")]
rating_cat = [name for name in tv_df.columns if name.startswith("rating_")]

transformers = [
    ("year", year_pipe, ["start_year", "end_year",]),
    ("genre", genre_pipe, genre_cat),
    ("ratings", rating_pipe, rating_cat),
    ("popularity", popularity_pipe, ["popularity_rank"]),
    ("ordinal", string_pipe, ["type", "status"]),
    ("cat", cat_pipe, ["rating"])
]

combined_pipe = ColumnTransformer(transformers, remainder=SimpleImputer())

In [11]:
tr_X_train = combined_pipe.fit_transform(X_train)
tr_X_valid = combined_pipe.transform(X_valid)

In [12]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=17)
model.fit(tr_X_train, y_train)
valid_predictions = model.predict(tr_X_valid)

valid_results = pd.Series(data=valid_predictions, index=imdb_series_df.loc[X_valid.index, "name"])
print(valid_results.sort_values(ascending=False))

name
The Wire                                   8.57
The Office                                 8.42
It's Always Sunny in Philadelphia          8.29
The Last Dance                             8.24
Hunter x Hunter                            8.03
Cowboy Bebop                               7.87
The Marvelous Mrs. Maisel                  7.69
Atlanta                                    7.62
Fleabag                                    7.60
Mindhunter                                 7.57
Freaks and Geeks                           7.56
Big Little Lies                            7.09
Friends                                    7.08
Ozark                                      6.80
GLOW                                       6.79
Orphan Black                               6.43
How I Met Your Mother                      6.38
American Horror Story                      6.23
Tom Clancy's Jack Ryan                     6.17
Dirk Gently's Holistic Detective Agency    6.15
Lost                                       6.15
Good Omens                                 6.14
The Young Pope                             5.98
The Deuce                                  5.97
The Big Bang Theory                        5.77
Counterpart                                5.76
Da Vinci's Demons                          5.17
Electric Dreams                            3.99
dtype: float64

In [24]:
from sklearn.metrics import mean_squared_error, r2_score

print(f"MRSE: {np.sqrt(mean_squared_error(y_valid, valid_predictions))}")
print(f"R2 score: {r2_score(y_valid, valid_predictions)}")
print(test_df.isna().sum().to_string())

MRSE: 1.6064034807162062
R2 score: 0.33515044364114366
type                   0
start_year             0
end_year               0
ep_length             29
n_seasons              1
n_episodes             0
popularity_rank      180
n_ratings              0
rating_avg             0
rating_top1000         0
rating_us              0
rating_row             0
rating_M               0
rating_F               0
rating_0to18         181
rating_M_0to18       358
rating_F_0to18       482
rating_18to29          0
rating_M_18to29        0
rating_F_18to29        0
rating_29to45          0
rating_M_29to45        0
rating_F_29to45        0
rating_45to100         0
rating_M_45to100       0
rating_F_45to100       1
genre_war             12
genre_documentary     12
genre_talk-show       12
genre_animation       12
genre_sci-fi          12
genre_crime           12
genre_musical         12
genre_short           12
genre_fantasy         12
genre_adventure       12
genre_thriller        12
genre_family          12
genre_history         12
genre_western         12
genre_drama           12
genre_mystery         12
genre_news            12
genre_romance         12
genre_biography       12
genre_action          12
genre_game-show       12
genre_horror          12
genre_sport           12
genre_reality-tv      12
genre_comedy          12
genre_music           12
genre_anime           50
genre_arts            50
genre_children        50
genre_fiction         50
genre_food            50
genre_game            50
genre_interest        50
genre_mini-series     50
genre_reality         50
genre_show            50
genre_soap            50
genre_suspense        50
genre_talk            50
genre_travel          50
num_seasons           51
rating               223
runtime               53
status                50
tvdb_avg_rating       50
tvdb_ratings          50

In [14]:
X_test = combined_pipe.fit_transform(test_df)
np.isnan(X_test).sum()

0

In [15]:
test_predictions = model.predict(X_test)

In [22]:
pd.Series(data=test_predictions, index=imdb_series_df.loc[test_df.index, "name"]).sort_values(ascending=False)[:30]

name
Game of Thrones                       8.77
How the Universe Works                8.66
Critical Role                         8.62
Avatar: The Last Airbender            8.59
Planet Earth II                       8.56
This Is Us                            8.55
Batman: The Animated Series           8.53
Whose Line Is It Anyway?              8.52
Monster                               8.46
Daredevil                             8.46
Attack on Titan                       8.45
The Grand Tour                        8.44
Top Gear                              8.44
Oz                                    8.44
Fullmetal Alchemist: Brotherhood      8.42
House                                 8.42
Dark                                  8.42
Planet Earth                          8.41
Impractical Jokers                    8.37
Cosmos: A Spacetime Odyssey           8.35
Young Justice                         8.33
Rake                                  8.31
Nathan for You                        8.29
Succession                            8.29
The Haunting of Hill House            8.28
Gomorra: La Serie                     8.27
Last Week Tonight with John Oliver    8.26
Still Game                            8.26
Gintama                               8.25
Rescue Me                             8.25
dtype: float64